upstream uce_backend {
    hash $ant_consistent_key consistent;
    {% for server in cluster_servers %} 
    {% for i in server.disks -%}
    server {{ server.ip }}:{{ 9100 + i }} max_fails=2 fail_timeout=30s;
    {% endfor %}
    {% endfor %}
    keepalive 100;
}

{% if auth_servers|length > 0 -%}
upstream auth_backend {
{% if disable_auth_health_check %}#! check=off{% endif%}
    {% for auth_server in auth_servers -%}
    server {{ auth_server.ip }}:{{ auth_server.port }} {% if auth_server.backup %}backup{% endif %};
    {% endfor %}
    keepalive 100;
}
{% else %}
# no auth config, this is default value, should nerver be use it
upstream auth_backend {
#! check=off
    server 127.0.0.1:8001;
    keepalive 100;
}
{% endif %}

{% if hrb_servers|length > 0 -%}
upstream hrb_backend {
{% if disable_hrb_health_check %}#! check=off{% endif%}
    {% for hrb_server in hrb_servers -%}
    server {{ hrb_server.ip }}:8010 {% if hrb_server.backup %}backup{% endif %};
    {% endfor %}
    keepalive 100;
}
{% endif %}

upstream hlsgw_backend {
#! check=off
    hash $ant_consistent_key consistent;
    {% for server in cluster_servers -%}
    {% for i in server.disks -%}
    server {{ server.ip }}:{{ 9700 + i }}  max_fails=2 fail_timeout=30s;
    {% endfor %}
    {% endfor %}
    keepalive 100;
}
